.mtop-20{
    margin-top: 50px;
}

.footer {


}

.btn-control{
    width: 150px;
    margin-right: 5px;
}

.h-list-pred-footer{
    height: 500px !important;
}
.margin-button-form{
    margin-bottom: 180px !important;
}
.mg-10{
    margin-right: 10px;
}

